<footer class="principals">
    <div class="second">
        <div class="footer-section">
            <h3>ACTIVITÉS</h3>
            <ul>
                <li><a href="#">Index des activités (catalogue en preparation)</a></li>
                <li><a href="#">Activité en vedette</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>RESSOURCES</h3>
            <ul>
                <li><a href="#">Services</a></li>
                <li><a href="/Creer_compte">Formulaire
                        d'inscription</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>À PROPOS</h3>
            <ul>
                <li><a href="#">Conditions d'utilisation</a></li>
                <li><a href="#">Politique de confidentialité</a></li>
                <li><div class="imageReseauxSociaux">
                        <img src="/assest/tiktok.jpg" alt="Image 1" />
                        <img src="/assest/instagram.jpg" alt="image 2" />
                        <img src="/assest/facebook.jpg" alt="image 3" />
                    </div></li>
            </ul>
        </div>
    </div>

    <p class="copyrit">&copy; 2025 eSchool réalisé par Ulrich Lontsi</p>

</footer>