<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titre}}</title>
    {{#each style}}
    <link rel="stylesheet" href="{{this}}">
    {{/each}}
    {{#each script}}
    <script type="module" src="{{this}}"></script>
    {{/each}}
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


   
</head>

<body>
    {{>header}}
    <div class="contenu">
        {{{body}}}
    </div>
    {{>footer}}
    <script src="/js/navbar.js"></script>
    <script src="/js/deconnexion.js"></script>
</body>

</html>