<div class="principal">
    <section class="login-container">
        <h2>Connexion</h2>

        {{#if error}}
            <p class="error-message">{{error}}</p>
        {{/if}}

        <form action="/login" method="post">
            <label for="email">Votre e-mail</label>
            <input
                class="but"
                type="email"
                name="email"
                placeholder="Votre e-mail"
                required
            />

            <label for="password">Votre mot de passe</label>
            <input
                class="but"
                type="password"
                name="password"
                placeholder="Votre mot de passe"
                required
            />

            <div class="remember-forgot">
                <label>
                    <input type="checkbox" name="remember" />
                    Se souvenir de moi
                </label>
                <a href="#">Mot de passe oublié ?</a>
            </div>

            <button type="submit" class="but">Se connecter</button>

            <p>Vous êtes nouveau ?
                <a href="/creer_compte">Créer un compte</a></p>
        </form>
    </section>
</div>