<div class="principal">
<section class="login-container">
  <h2>Créer un compte</h2>

  <form action="/create-account" method="post">
    <label for="name">Votre Nom</label>
    <input type="text" name="name" placeholder="Votre Nom" class="but" required />

    <label for="email">Votre Email</label>
    <input type="email" name="email" placeholder="Votre Email" class="but" required />

    <label for="password">Votre Mot de passe</label>
    <input
     class="but"
      type="password"
      name="password"
      placeholder="Votre Mot de passe"
      required
    />

    <label for="confirm-password">Confirmer le Mot de passe</label>
    <input
     class="but"
      type="password"
      name="confirmPassword"
      placeholder="Confirmer le Mot de passe"
      required
    />

    <label for="role">Votre Rôle</label>
    <select name="role" id="role" required>
      <option value="participant">participant</option>
      <option value="administrateur">Administrateur</option>
    </select>

      <label>
        <input type="checkbox" name="terms" required class="but" />
        J'accepte les termes et conditions
      </label>


    <button type="submit" class="but">Créer un compte</button>

    <p>Déjà un compte? <a href="/connexion">Se connecter</a></p>
  </form>
</section>
</div>