
<div class="block1_profil">
        <h1 class="titredasboead">Tableau de Bord</h1>
    <div class="profil1">
            <div class="block1_profil1">
                    <p class="poste">{{user.role}}</p>
                    <div class="block_profil2">
                        <div class="items_profil1">
                            <p>nom</p>
                            <p>: {{user.name}}</p>
                        </div>
                        <div class="items_profil2">
                            <p>email</p>
                            <p>: {{user.email}}</p>
                        </div>
                    </div>
                </div>
            <div class="containerNotifications">
               <a href="/Creer_Evenement" class="creerevenement">Créer un événement !!!</a>  
            </div>
     </div>

</div>
 <div class="dashboard">
    <div class="administrateur">
        <h1 class="titredasboead1">Statistiques</h1>
        <div class="elemetdasbordparticipant">
            <div class="elementAdmin">
                <div class="adminparticipant">
                    <i class="fas fa-calendar-plus"></i>
                    <p>Nombre d'événements enregistrés</p>
                </div>
                <!-- Canvas pour le graphique des événements -->
                <canvas id="event_chart" width="400" height="400"></canvas>
            </div>
            <div class="elementAdmin">
                <div class="adminparticipant">
                    <i class="fas fa-user-graduate"></i>
                    <p>Nombre d'inscriptions sur la plateforme</p>
                </div>
                <!-- Canvas pour le graphique des inscriptions -->
                <canvas id="student_chart" width="400" height="400"></canvas>
            </div>
            <div class="elementAdmin">
                <div class="adminparticipant">
                    <i class="fas fa-star"></i>
                    <p>Niveau de satisfaction</p>
                </div>
                <!-- Canvas pour le graphique de satisfaction -->
                <canvas id="satisfaction_chart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>


        <section id="evenement">
            <h2 class="titredernierEvenement">Liste des événements enregistrés</h2>
           <div class="contenuDernierEvenement" id="events-container">
            
           </div>
        </section>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

