
    <main id="event-details-container">
       
 <a href="/" class="back-button">Retour à la liste des événements</a>
        <!-- L'événement sera inséré ici -->
        <div id="event-details">
            <!-- Détails de l'événement seront dynamiquement insérés ici -->
        </div>
         <div>hello</div>
    </main>
   


