.principale {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("../assest/compte.jpg");
    background-size: cover;
    height: 90vh;
}
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  background-color: rgba(128, 128, 128, 0.511);
    color: white;
    width: 400px;
    text-align: center;
    border-radius: 10px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

input,
select,
button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 8px;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    box-sizing: border-box;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

button {
    background: #178067;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: #12a083;
}

a {
    color: #12a083;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 10px;
    align-items: center;
}

/* Style pour le champ select */
select {
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 10px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Style pour la liste dÃ©roulante */
select option {
    background-color: #333;
    color: white;
}

select:focus {
    background: rgba(255, 255, 255, 0.4);
}

/* Style pour les messages d'erreur */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
}

input {
    margin-bottom: 15px;
}
.image_compte {
    height: 90vh;
    width: 1000px;
}

/* Media queries pour rendre le formulaire responsive */
@media (max-width: 768px) {
    .login-container {
        width: 80%;
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    input,
    select,
    button {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .login-container {
        width: 90%;
    }

    h2 {
        font-size: 18px;
    }

    input,
    select,
    button {
        padding: 8px;
    }
}
