.back-button{
      background-color: rgba(128, 128, 128, 0.896);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: aliceblue;
    width: 100px;
    border: none;
    width: 200px;
    margin-bottom: 20px;
}
.back-button:hover{
      border-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    transform: scale(1.03);
    cursor: pointer; 
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.imagedescription{
    width: 500px;
   border-radius: 10px;
    
}
.blockevenement{
   padding-bottom: 20px;
   border-radius: 10px;
   display: flex;
   justify-content: space-around;
}
.blockevenement1{
    margin-left: 20px;
    width: 600px;
}
.blockbutton{
    margin-top: 60px;
}
.inscriptionEvenement{
    background-color: rgba(128, 128, 128, 0.896);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: aliceblue;
    width: 100px;
    border: none;
    width: 200px;
}
.inscriptionEvenement:hover{
      border-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    transform: scale(1.03);
    cursor: pointer; 
}