.block1_profil {
     background: #1a1a1a;
    color: white;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.profil1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    align-content: center;
}
.poste {
    font-size: 40px;
    padding: 0;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}
.block1_profil1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px
}

.block_profil2 {
  display: flex;
 gap: 10px;
 font-style: italic;
 margin-bottom: 20px;
}
.items_profil2 {
    padding: 0;
    margin: 0;
    border-radius: 5px;
    display: flex;
}
.items_profil1 {
    border-radius: 5px;
    display: flex;
}
.notification{
    text-align: justify;
    width: 400px;
    border-radius: 20px;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;


}
.buttondelet{
    background-color: rgba(255, 0, 0, 0.919);
    font-size: large;
    border-radius: 10px;
    width: 50px;
      transition: all 0.3s ease-in-out; 
      align-self: end ;
      margin-top: 10px;
      border: none;
    
}
.buttondelet:hover{
     border-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    transform: scale(1.1);
  
}
.dasboead{
    padding: 20px;
}
#evenement{
  padding: 20px;  
}
.titredasboead{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.titredernierEvenement {
  text-align: start;
  font-size: 2rem;
  margin-bottom: 20px;
}

.contenuDernierEvenement{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;

}
.blockevenement {
    border: 1px solid rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    padding: 10px; 
    transition: all 0.3s ease-in-out; 
    background-color: white;
    color: black;
    width: 400px;
}

.blockevenement:hover {
    border-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    transform: scale(1.03);
    cursor: pointer; 
}
.containerNotifications{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.creerevenement{
    background-color: chocolate;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: none;
    width: 200px;
    margin-bottom: 20px;
}

.creerevenement:hover{
     border-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    transform: scale(1.1);
  
}

.elemetdasbordparticipant{
     background-color: rgba(128, 128, 128, 0.973);
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: larger;
     padding: 20px;
     gap:30px
}
.elemetdasbordadmin{
     background-color: rgba(128, 128, 128, 0.97);
    width: 99%;
    height: 150px;
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: aliceblue;
    font-size: larger;
    padding: 5px;
    
}
.adminparticipant{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap:5px
}
.blockbutton{
    display: flex;
    justify-content: space-between;
}
.creerevenementbloc{
      background-color: rgba(128, 128, 128, 0.896);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: aliceblue;
    width: 100px;
    border: none;
}
.creerevenementbloc:hover {
    border-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    transform: scale(1.03);
    cursor: pointer; 
}
.voirevenement{
     background-color: rgba(128, 128, 128, 0.896);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: aliceblue;
    width: 100px;
    border: none;
}
.voirevenement:hover{
        border-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    transform: scale(1.03);
    cursor: pointer; 
}
.evementDescrip{
    width: 400px;
  
}

